body {
    background-color: darkcyan;
}

.CuadrosCirc * {
  filter: hue-rotate(120deg) brightness(100%);
}
.CuadrosTach *{
  filter: hue-rotate(0deg) brightness(50%) saturate(100%);
}
/*GRID*/
.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:  1fr 1fr 1fr;
    width: 38vw;
    height:38vw;
    z-index: 50;
}
.grid-itemA1 {
    grid-column: 1/2; 
    grid-row: 1/2; 
}
.grid-itemA2 {
    grid-column: 2/3; 
    grid-row: 1/2; 
}
.grid-itemA3 {
    grid-column: 3/4; 
    grid-row: 1/2; 
}
.grid-itemB1 {
    grid-column: 1/2; 
    grid-row: 2/3; 
}
.grid-itemB2 {
    grid-column: 2/3; 
    grid-row: 2/3; 
}
.grid-itemB3 {
    grid-column: 3/4; 
    grid-row: 2/3; 
}
.grid-itemC1 {
    grid-column: 1/2; 
    grid-row: 3/4; 
}
.grid-itemC2 {
    grid-column: 2/3; 
    grid-row: 3/4; 
}
.grid-itemC3 {
    grid-column: 3/4; 
    grid-row: 3/4; 
}
/*ESPECÍFICOS*/
.Ventana{
    width: 95vw;
    height: 95vh;
}
.Centrar{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.Cuadros{
    background-color: blue;
    border: solid 5px black;
}
.CuadrosCirc{
    background-color: rgb(60, 255, 0);
}
.CuadrosTach{
    background-color: rgb(255, 51, 0);
}
.Boton{
    width: 10vw;
    height: 10vh;
    background-color: gray;
    text-align: center;
    line-height: 10vh;
    margin-bottom: 10vh;
}
.TurnoCuadro1{
    width: 12vw;
    height: 12vw;
    background-color: rgb(255, 51, 0);
}
.TurnoCuadro2{
    width: 12vw;
    height: 12vw;
    background-color: rgb(60, 255, 0);
}
.BannerGanar1{
    height: 30vh;
    width: 110vmax;
    background-color: rgb(63, 143, 38);
    text-align: center;
    line-height: 30vh;
    font-size: 13vh;
    position: fixed;
    z-index: 51;
    opacity: 0.9;
}
.BannerGanar2{
    height: 30vh;
    width: 110vmax;
    background-color: rgb(117, 39, 20);
    text-align: center;
    line-height: 30vh;
    font-size: 13vh;
    position: fixed;
    z-index: 51;
    opacity: 0.9;
}
/*FLEX*/
.Menu{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    background-color: rgb(156, 50, 50);
    margin-left: 5vw;
    justify-content: center;
    align-items: center;
}
/*FONDO ANIMADO*/
.circle{
    position: absolute;
    border-radius: 50%;
    background: rgb(57, 226, 161);
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  .ripple-background{
      z-index: -50;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }